@font-face{

font-family:Orbitron;

src:url("../../fontes/OrbitronMedium.ttf");

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#050000;

font-family:Orbitron;

color:#ff0000;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

/*====================*/

.login{

width:550px;

text-align:center;

position:relative;

z-index:10;

}

.logo{

width:220px;

margin-bottom:35px;

filter:drop-shadow(0 0 12px red);

}

h1{

letter-spacing:8px;

margin-bottom:15px;

text-shadow:0 0 15px red;

}

.subtitulo{

letter-spacing:4px;

margin-bottom:35px;

opacity:.8;

}

.painel{

border:2px solid #ff0000;

padding:35px;

background:rgba(255,0,0,.03);

box-shadow:

0 0 25px rgba(255,0,0,.15),

inset 0 0 20px rgba(255,0,0,.05);

}

.status{

margin-bottom:30px;

letter-spacing:2px;

font-size:14px;

}

input{

width:100%;

padding:16px;

background:black;

border:2px solid #ff0000;

color:#ff0000;

font-family:Orbitron;

font-size:18px;

margin-bottom:20px;

}

input:focus{

outline:none;

box-shadow:0 0 12px red;

}

button{

width:100%;

padding:16px;

background:black;

border:2px solid #ff0000;

color:#ff0000;

font-family:Orbitron;

font-size:18px;

cursor:pointer;

transition:.25s;

}

button:hover{

background:#ff0000;

color:black;

}

#mensagem{

margin-top:25px;

height:25px;

letter-spacing:2px;

}

/*====================*/
/* Scanlines */
/*====================*/

.scanline{

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

pointer-events:none;

background:

repeating-linear-gradient(

0deg,

rgba(255,255,255,.02) 0px,

rgba(255,255,255,.02) 2px,

transparent 3px,

transparent 5px

);

opacity:.35;

}

/*====================*/

body::before{

content:"";

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

background:

radial-gradient(circle,

transparent 70%,

rgba(255,0,0,.08));

pointer-events:none;

}

/*====================*/

body::after{

content:"";

position:fixed;

left:0;

top:0;

width:100%;

height:100%;

box-shadow:

inset 0 0 180px rgba(255,0,0,.12);

pointer-events:none;

}

/*========================*/
/* GLITCH */
/*========================*/

.glitch{

    animation:glitch .18s;

}

@keyframes glitch{

    0%{

        transform:translate(0);

    }

    20%{

        transform:translate(-2px,2px);

    }

    40%{

        transform:translate(2px,-2px);

    }

    60%{

        transform:translate(-1px,-2px);

    }

    80%{

        transform:translate(2px,2px);

    }

    100%{

        transform:translate(0);

    }

}

/*========================*/
/* Flicker CRT */
/*========================*/

.flicker{

    animation:flicker .08s;

}

@keyframes flicker{

    0%{

        opacity:1;

    }

    50%{

        opacity:.7;

    }

    100%{

        opacity:1;

    }

}